body {
  height: 100%;
  width: 100%;
  background-color: #277714;
/*  display:  inline-block;
*/  /*margin: 0 auto;*/
}

main {
  /*margin: 0 auto;*/
}

header {
  margin: 0 auto;
}

#deal {
  color: red;
  background-color: blue;
  width: 150px;
  height: 65px;
  font-size: 40px;
  font-family: Papyrus, fantasy;
}

h1 {
  text-align: center;
  font-family: Papyrus, fantasy;
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

#player1 {

  font-family: Papyrus, fantasy;
  color: red;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  padding: 60px;
}

#player2 {

  font-family: Papyrus, fantasy;
  color: blue;
  display: inline-block;
  margin: 0 auto;
  margin: 0 auto;
  position: absolute;
  padding: 60px;
}

ul {
  width: 500px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  list-style-position:inside;
}

li {
  margin: 0;
  padding: 0;
  list-style-position:inside;
}

.p0 {
  text-align: center;
  margin-left: -175px;
}

.p1 {
  text-align: center;
  margin-left: -175px;

}

.drawn-p0 {
  border: 2px solid;
 /* height: 88px;
  width: 64px;*/
  position: relative;
  display: inline-block;
  left: 180px;
}

.drawn-p1 {
  border: 2px solid;
  /*height: 88px;
  width:  64px;*/
  position:  relative;
  display:  inline-block;
  left:  180px;
}
/*.war-p0 {
  border:  2px dotted;
  height:  88px;
  width:  64px;
  position:  relative;
  display:  inline-block;
  left:  380px;
}
.war-p1 {
  border:  2px dotted;
  height:  88px;
  width:  64px;
  position:  relative;
  display:  inline-block;
  left:  380px;
}*/
/*section {
  border: 2px solid;
  height: 200px;
  width: 200px;
}*/



.game-board {
  text-emphasis: center;
  margin:  0 auto;
}

#statbox {
  border:  1px solid black;
  color:  white;
  background-color: white;
  width: 150px;
  height: 100px;
  margin:  0 auto;
}

footer {
  margin: 0 auto;
  text-align: center;
  height: 150px;
  text-align: center;
}

.stat-div {
  display: block;
  margin: 0 auto;
}

.back-blue {
}


#player1-win {
  color: red;
  margin-top: 45px;
}

#player2-win {
  color: blue;
  margin-top: 45px;
}

#draw {
  color: green;
  margin-top: 45px;
}

