body {
  height: 100%;
  width: 100%;
  background-color: #277714;
  display:  inline-block;
  margin: 0 auto;
}

header {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

/*.p0 {


}

.p1 {


}*/

.drawn-p0 {
  border: 2px solid;
  height: 88px;
  width: 64px;
  position: relative;
  display: inline-block;
  left: 180px;
}

.drawn-p1 {
  border: 2px solid;
  height: 88px;
  width:  64px;
  position:  relative;
  display:  inline-block;
  left:  180px;
}
.war-p0 {
  border:  2px dotted;
  height:  88px;
  width:  64px;
  position:  relative;
  display:  inline-block;
  left:  380px;
}
.war-p1 {
  border:  2px dotted;
  height:  88px;
  width:  64px;
  position:  relative;
  display:  inline-block;
  left:  380px;
}
/*section {
  border: 2px solid;
  height: 200px;
  width: 200px;
}*/
ul {
  list-style-type: none;
}

ul li:last-child {
  padding-top: 75px;
}

.game-board {
  text-emphasis: center;
}

#statbox {
  border:  1px solid black;
  color:  white;
  background-color: black;
  width: 150px;
  height: 100px;
  margin:  0 auto;
  opacity: .2;
}

footer {
  margin: 0 auto;
  text-align: center;
  height: 150px;
  text-align: center;
}

.stat-div {
  display: block;
  margin: 0 auto;
}
